
<div class="col-md-12">
<h1>Ask Your question</h1>
  <form class="qsubmit-form">
    <div class="btn-group" role="group" aria-label="Editor options">
	  <button type="button" class="btn btn-default" area-label="Bold"><span class="glyphicon glyphicon-bold" aria-hidden="true"></span></button>
	  <button type="button" class="btn btn-default" area-label="Italic"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span></button>
	</div>
	<input type="text" ng-model="newQuestion.title" class="form-control" id="new-question-title" placeholder="Your question Title"/>
	<textarea class="form-control" ng-model="newQuestion.text" maxlength="300" rows="5" placeholder="Question body"></textarea>
	<textarea class="form-control" ng-model="newQuestion.topics" maxlength="300" rows="3" placeholder="What your question is about: (add topics)" ></textarea>		 
     <button type="submit" class="btn btn-default" ng-click="submitQuestion()" >Submit</button>

     <p> Title : {{newQuestion.title}}</p>
     <p> text : {{newQuestion.text}}</p>
     <p> body : {{newQuestion.topics}}</p>
  </form>



</div>	<!-- col-md-12 >
