   <!--  Login page -->

<div class="col-md-12 reg-container" >
    <img src="../img/beresponse_logo_lg.png" alt="beResponse big Logo" class="logo-register">
    <form class="register-form">
        <h2 class="register-form-heading">Log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="true" type="email" ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required="true" type="password" ng-model="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(email,password)" >Log in</button>
        <button class="btn btn-lg btn-primary btn-block" ng-click="goRegister()" type="submit">Register</button> 
    </form>
</div>